.about-section {
	padding: 5rem 0 0;
	height: 100vh;

	.about-title {
		display: flex;
		gap: 3rem;
		align-items: center;

		span {
			display: none;
		}

		h2 {
			margin-left: 5rem;
			font-size: 30px;
		}

		hr {
			width: 20rem;
			color: #80cfd5;
		}
	}

	.about-content {
		display: flex;
		color: #ffffff80;
		gap: 2rem;
		font-size: 15px;
		width: 100%;
		height: 100%;

		.content-text {
			width: 100%;
			height: 100%;

			p {
				padding-top: 0.5rem;

				.highlight {
					color: #80cfd5;
				}
			}

			.view {
				display: none;
			}

			.tech-list {
				width: 100%;

				p {
					margin-top: 1rem;
				}

				ul {
					list-style: none;
					display: flex;
					justify-content: space-evenly;

					.list-item {
						justify-content: center;
						width: 10rem;
						height: 3rem;
						display: flex;
						align-items: center;

						.tech-icon {
							color: #80cfd5;
						}
					}
				}
			}
		}

		.about-image {
			width: 80%;
			height: 80%;

			img {
				width: 100%;
				height: 100%;
				border-radius: 50px;
				object-fit: cover;
			}
		}
	}
}
