.experience-section {
	padding: 5rem 0 0;
	height: 100%;

	.experience-title {
		display: flex;
		gap: 3rem;
		align-items: center;

		span {
			display: none;
		}

		h2 {
			margin-left: 5rem;
			font-size: 30px;
		}

		hr {
			width: 20rem;
		}
	}

	.experience-content {
		display: flex;
		margin-top: 3rem;
		color: #ffffff80;
		align-items: center;
		height: 20rem;
		font-size: 15px;

		.job-name {
			width: 20rem;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;

			.job-title {
				width: 10rem;
				padding: 1rem 0;
				text-align: center;
				cursor: pointer;
				font-size: 20px	;

				&:hover {
					background-color: #80cfd5;
					color: white;
				}
			}
		}

		.job-desc {
			height: 100%;

			.role {
				h3 {
					font-size: 30px;
					color: #80cfd5;

					span {
						color: #ffffff80;
					}
				}
			}

			.duration {
				margin-bottom: 0.5rem;

				span {
					color: #80cfd5;
				}
			}

			.desc {
				display: flex;
				align-items: center;
				height: 5rem;

				.desc-icon {
					color: #80cfd5;
					margin-right: 2rem;
				}
			}
		}
	}
}
